* {
    margin: 0;
    padding: 0;
}

.error {
    text-align: center;
    color: red;
}

/* Header */
.header {
    background-color: darkorange;
    width: auto;
    height: 6em;
    margin-top: 0;
    position: static;
}

.white-text {
    padding-left: 10px;
    padding-top: 20px;
    color: white;
    font-size: 4em;
}

/* Main div where website is displayed */
.web-content {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    position: static;
}

/* Div where all items are displayed */
.overview {
    background-color: white;
    flex: 75%;
    height: 54em;
    display: flex;
}

#info-gallery {
    max-width: 1200px;
    margin: 0 auto 1rem;
    height: 400px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(190px, 0.5fr));
    justify-items: center;
}

.dish {
    margin: 5px;
    width: 100%;
    padding: 0.2em;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.dish h2 {
    font-size: 18px;
    margin-bottom: 0.5rem;
}

.dish img {
    height: 180px;
    width: 180px;
}

.dish button {
    float: left;
    width: 50%;
    border: 0;
    font-weight: bold;
    margin-top: 1em;
    margin-left: 5px;
    margin-right: 22px;
    padding: 0.6em;

}

.dish favoItem {
    background-color: darkorange;
}

.favo {
    width: 20% !important;
    color: #ffb700;
}

/* Div where all details are displayed */
.details {
    background-color: #f3f3f2;
    flex: 25%;
    height: 54em;
    display: flex;
}

.details infoCard {

}

.details img {
    height: 400px;
    width: 400px;
}